body {
    margin:0;
    margin-bottom:40px;
}

h1 {
    margin:0;
}

.main-nav {
    width:100%;
    padding:20px;
    background-color:#EBEBEB;
    box-sizing:border-box;
    font-size:2em;
}

.margin-top-40 {
    margin-top:40px;
}

.container {
    width:100%;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}

.col-6 {
    float:left;
    width:50%;
    box-sizing:border-box;
    padding: 20px;
}

#search-box {
    width:300px;
    border:#CCC 1px solid;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    padding:10px;
    display:block;
}

.banner {
    width:100%;
    background:url(img/diavel.jpg) no-repeat;
    height:600px;
    background-size:cover;
    background-position:center center;
    /*background-attachment: fixed;*/
}

.banner h1 {
    color:#FFF;
    text-align:center;
    padding-top:200px;
    font-size:4em;
}

.content-img {
    width:300px;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
}

.txt-left {
    text-align:left;
}

.txt-right {
    text-align:right;
}

@media(max-width:500px) {

  .col-6 {
    width:100%;
    padding: 0 15px 0 15px;
  }

  .main-nav {
    text-align: center;
  }

  #search-box {
    width: 100%;
    box-sizing: border-box;
  }

  .banner {
    height: 300px;
  }

  .banner h1 {
    padding-top: 100px;
    font-size: 2em;
  }

  img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

}
